*{
    margin: 0px;
    padding: 0px;
    color: white;

}
body{
    height: 100vh;
    background: url(ocean-bg.jpg) no-repeat center center/cover;

}

.box{
    width: 300px;
    height: 180px;
    background-color:rgba(9, 8, 8, 0.6);
    opacity: 0.8;
}
button{
    padding: 2px;
    width: 70px;
    height: 35px;
    border: solid 2px ;
    border-radius: 10px;
}
.reset{
    color: red;
}
.play{
    color: skyblue;
}

button:hover{
    transform: scale(0.95);
}
